body {
  background-color: #000;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

.instructions {
  text-align: center;
  font-size: 1.5em;
  color: #00ff00;
  margin-bottom: 30px;
}

canvas {
  border: 2px solid #00ff00;
  background-color: #000;
  image-rendering: pixelated;
}

#gameCanvas {
  background-color: #000;
  box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00, 0 0 40px #00ff00;
}

.replay-button {
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 60px;
  background-color: #00ff00;
  color: #000;
  border: 2px solid #fff;
  border-radius: 30px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  line-height: 60px;
  box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
  transition: background-color 0.3s, transform 0.3s;
}

.replay-button:hover {
  background-color: #00cc00;
  transform: translate(-50%, -50%) scale(1.1);
}

.replay-button:active {
  background-color: #009900;
  transform: translate(-50%, -50%) scale(0.9);
}


.gem-count {
  font-size: 1.2em;
  color: #00ff00;
  margin-top: 30px;
}